.header{
  width:100%
}

.banner {
  width: 100%;
  height: calc(100vh - 75px);
  background-image: url("../public/blackfriday.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.headerText {
  font-size: 2em;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-family: "Parisienne", sans-serif;
  font-size: 5rem;
}

.paragraph {
  text-align: center;
  padding: 0 0 3vh 0;
}

.introContainer {
  padding: 3vh 5vw 0vh 5vw;
}

